/*----------------------------------------------------------
    File Name  : _member-pages.scss
    Desc       : File ini merupakan styling untuk Member Pages

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Profile Member Page
 * 2. Pemberitahuan Member Page
 * 3. Riwayat Transaksi Member Page
 * 4. Status Order Member Page
 *
 */


 @use '../abstracts/variables' as var;
 @use '../abstracts/mixins' as mix;
 
/*----------------------------------------------------------
1. Profile Member Page Start
------------------------------------------------------------*/ 

.content-member {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

/*----------------------------------------------------------
1. Profile Member Page End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2. Pemberitahuan Member Page Start
------------------------------------------------------------*/ 
.pemberitahuan-wrapping {
    border-bottom: 1px solid rgb(154, 154, 154);
}
/*----------------------------------------------------------
2. Pemberitahuan Member Page End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
3. Riwayat Member Page Start
------------------------------------------------------------*/ 
.content-member .panel .table-responsive .table-riwayat tbody tr td .badge-inverse {
    color: red;
}

.content-member .panel .table-responsive .table-riwayat tbody tr td .badge-success {
    color: green;
}

/*----------------------------------------------------------
3. Riwayat Member Page End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
4. Status Riwayat Member Page Start
------------------------------------------------------------*/ 

.status-order-wrapping {
    background-color: #ffffff;
    height: auto;
}

.status-order-wrapping .status-order-header {
    background-color: #EBEAEA;
}

/*----------------------------------------------------------
4. Status Riwayat Member Page End
------------------------------------------------------------*/ 

