/*----------------------------------------------------------
    File Name  : _member-pages.scss
    Desc       : File ini merupakan styling untuk Member Pages

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Profile Member Page
 * 2. Pemberitahuan Member Page
 *
 */


 @use '../abstracts/variables' as var;
 @use '../abstracts/mixins' as mix;
 
/*----------------------------------------------------------
1. Profile Member Page Start
------------------------------------------------------------*/ 

.content-member {
    background-color: #ffffff;
    width: 100%;
    height: 2000px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

/*----------------------------------------------------------
1. Profile Member Page End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2. Pemberitahuan Member Page Start
------------------------------------------------------------*/ 
.pemberitahuan-wrapping {
    border-bottom: 1px solid rgb(154, 154, 154);
}
/*----------------------------------------------------------
2. Pemberitahuan Member Page End
------------------------------------------------------------*/ 